[submodule "meta-raspberrypi"]
	path = meta-raspberrypi
	url = git://git.yoctoproject.org/meta-raspberrypi
	branch = langdale
[submodule "poky"]
	path = poky
	url = git://git.yoctoproject.org/poky
	branch = langdale
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
	branch = langdale
[submodule "meta-rust"]
	path = meta-rust
	url = git@github.com:meta-rust/meta-rust.git
[submodule "meta-clang"]
	path = meta-clang
	url = git@github.com:kraj/meta-clang.git
	branch = kirkstone
